.price-details {
  min-width: 30%;
  padding: 0 1rem;
  height: 17rem;
  text-align: center;
}

.price-details h2 {
  text-align: left;
  padding-bottom: 1rem;
  border-bottom: 1px lightgrey solid;
}

.price-details div {
  display: flex;
  justify-content: space-between;
}

.grand-total {
  font-size: large;
  font-weight: bold;
  margin: 1rem 0 1.5rem 0;
  padding-top: 1rem;
  border-top: 1px lightgrey solid;
}

.price-details a {
  display: block;
  width: auto;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #ffc404;
  border-radius: 5px;
  padding: 10px;
}

.price-details a:hover {
  scale: 1.05;
}
