.empty {
  max-width: 50%;
  height: 10rem;
  margin: 2rem auto;
  text-align: center;
  padding-top: 3rem;
  font-size: larger;
}

.empty a {
  display: block;
  width: 30%;
  margin: 2rem auto;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #ffc404;
  border-radius: 5px;
  padding: 10px;
}

.orders {
  padding: 0.1rem 1rem;
  width: 800px;
  margin: auto;
}

.orders ul {
  list-style: none;
  padding: 0;
}

.order-item {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  padding: 5px 5px 10px 5px;
}

.heading span {
  display: flex;
}

.heading img {
  height: 18px;
  margin-left: 3px;
}

.body {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 5px 5px;
}

.item {
  margin-bottom: 5px;
}

.btn {
  margin: 30px 5px 10px 0;
  text-align: end;
}

.btn button {
  background-color: #ffc404;
  border: none;
  border-radius: 5px;
  padding: 10px;
  min-width: 5rem;
  font-size: medium;
  margin-left: 1rem;
}

.btn a {
  text-decoration: none;
  color: black;
  background-color: #ffc404;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
}
