.header {
  background-color: #ffc404;
  margin: 0;
  padding: 0.5rem 7.5%;
}

.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  height: 3rem;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list img {
  height: 1.5rem;
}

.list button {
  font-size: 1.4rem;
  color: black;
  margin-left: 1rem;
  border: none;
  background-color: #ffc404;
}

.list button:hover {
  scale: 1;
  cursor: pointer;
}

.list a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  margin-left: 1rem;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.search-form input {
  border: none;
  width: 15rem;
  height: 1.5rem;
}

.search-form input:focus {
  outline: none;
}

.search-form img {
  height: 1.2rem;
}
